.container.margin-menu-top
  .main-padding
    .page-header
      %h3.text-info Contact Us
    .row
      .col-sm-12
        .horizontal-padding
          %p.text-muted We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
        .horizontal-padding
          = render 'form'
#grey.jumbotron.margin-menu-top
  .container
    .row.main-padding
      .col-sm-5
        #contact-box.panel
          .vertical-padding
            %legend.text-info Get in touch
            %p 
              Guavait address
              %br Viet Nam
              %span Zip Code
            %p 
              %i.glyphicon.glyphicon-phone
              %span Phone number
            %p 
              %i.glyphicon.glyphicon-envelope
              %span Email Address
            %legend.text-info Work with us
            %p We’ve prepared a simple project planner to get to know you and your project better.
            %p.text-center=link_to "LET'S GET START", "#", class: 'btn btn-info'
      .col-sm-7.text-center
        %legend.text-info Social Networks
        .text-center= render :partial => 'shared/socialnetwork'
