.jumbotron
  .container
    .text-center
      %p
        %span=link_to 'about this site', '#'
        %span=link_to content_tag(:i, nil, :class => 'icon-user') + '@guavait.com', '#'
        %span=link_to 'read our blog', '#'
      %p © 2013 GuavaIT