.social_networks
  %ul.list-inline
    %li.icon_fb= link_to image_tag('facebook.png', :alt => 'Follow us on Facebook'), '#', :class => 'icon_fb'
    %li.icon_tw= link_to image_tag('twitter.png', :alt => 'Follow us on Twitter'), '#'
    %li.icon_gp= link_to image_tag('googleplus.png', :alt => 'Follow us on GooglePlus'), '#'