.container.margin-menu-top
  .jumbotron.text-center
    .row
      .col-lg-12
        %h1= title "Something's wrong, 500 Error"
        %div
          %h3 We're sorry
          %p It looks as though we've broken something on our system.
          %p Don't panic; I've emailed the development team and told them what's wrong. They'll get to it as soon as they can.
          %p
            %a{href: root_path} Return to the home