.container.margin-menu-top
  .jumbotron.text-center
    .row
      .col-lg-12
        %h2
          = title "Something's wrong."
          %small
            %font{:color => "red", :face => "Tahoma"} Error 500
        %div
          %h4 We're sorry
          %p It looks as though we've broken something on our system.
          %p Don't panic; I've emailed the development team and told them what's wrong. They'll get to it as soon as they can.
          %a.btn.btn-large.btn-warning{href: root_path}
            %i.glyphicon.glyphicon-home
            Return to the home